Cython
librosa==0.9.1
matplotlib
numpy
scipy
tensorboard
torch --index-url https://download.pytorch.org/whl/cu113
unidecode
pyopenjtalk
protobuf
tqdm
django
djangorestframework
faster-whisper
python-dotenv
openai
httpx
django-async-stream
daphne